#Nota: No se usa H2 porque no soporta PostGIS y se va romper con este este campo -> Point location
spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST_TEST:localhost}:${DB_PORT_TEST:5437}/${DB_NAME_TEST:marketplace_test_db}
    username: ${DB_USER_TEST:postgres}
    password: ${DB_PASSWORD_TEST:admin}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
    properties:
      hibernate:
        format_sql: true
  web:
    resources:
      static-locations: file:uploads/


  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:25}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
