spring:
  application:
    name: marketplace-link

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  profiles:
    active: prod

  datasource:
    url: jdbc:postgresql://${DB_HOST:mplink_postgres}:${DB_PORT:5432}/${DB_NAME:marketplace_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  web:
    resources:
      static-locations: file:uploads/

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: ${SERVER_PORT}

  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    whitelabel:
      enabled: false

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    filter: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    doc-expansion: none
  remove-broken-reference-definitions: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    mail:
      enabled: false

frontend:
  url: ${FRONTEND_URL}

moderator:
  default-password: ${MODERATOR_DEFAULT_PASSWORD}

# Azure Blob Storage Configuration
azure:
  storage:
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING}
    container-name: ${AZURE_STORAGE_CONTAINER_NAME:imagenes}
    enabled: ${AZURE_STORAGE_ENABLED:true}